{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-dark alert-dismissible show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> <!-- x button doesn't work -->
    </div>
{% endfor %}

<h1>Blog Posts...</h1>
<br/>


    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ post.poster.username }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</h6>
            <br/>
            <p class="card-text">{{ post.content|safe }}</p>
            <a href="{{ url_for('posts') }}" class="btn btn-outline-dark" >Go Back</a>
            {% if post.poster_id == current_user.id %}
            <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-dark">Edit</a>
            <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger">Delete</a>
            {% endif %}
        </div>
    </div>
    <br/>
{% endblock %}